.title-container {
  padding-bottom: 40px;
  text-align: center;
}
.title {
  padding-bottom: 40px;
  color: #2d2a3e;
  font-size: 38px;
  font-weight: 800;
  line-height: 63.158%;
  letter-spacing: 1.52px;
  span {
    color: #5e68f9;
  }
}
.title__description {
  display: inline-block;
  width: 685px;
  color: #7e7fa0;
  font-size: 20px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: 1.5px;
  @media (max-width: 767px) {
    width: fit-content;
  }
}