$colorPrimary: #5e68f9;
$colorSecondary: #5d69fb;
// button
$colorButton1: #616ae8;
$colorButton2: #22e4a7;
// circle
$colorCircle1: #fbe9e9;
$colorCircle2: #e7faf9;
$colorCircle3: #f5ecfd;
$colorCircle4: #e7effb;
$colorCircle5: #fdf0e7;
$colorCircle6: #fff1f0;
$colorCircle7: #f2e9fa;
$colorCircle8: #e4f7fa;
$colorCircle9: #e4e6fb;
$colorCircle10: #fde9f4;
$colorCircle11: #e4f9e6;
//background
$colorBackground1: #f0f9fe;
$colorBackground2: #fcf3ec;
